<h1>Fax request:</h1>

<dl>
  <dt>SID</dt>
  <dd><%= @fax.sid %></dd>
  <dt>From</dt>
  <dd><%= @fax.from %></dd>
  <dt>To</dt>
  <dd><%= @fax.to %></dd>
</dl>

<a href="/" class="btn btn-primary">Go back</a>